<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="{{ site.base-url }}/favicon.ico" />
	<meta charset=utf-8>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="{{ site.base-url }}/assets/css/normalize.css">
	<link rel="stylesheet" href="{{ site.base-url }}/assets/css/screen.css">
	<link rel="stylesheet" href="{{ site.base-url }}/assets/css/jquery.rondell.css" type="text/css" media="all" title="Screen"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="{{ site.base-url }}/assets/js/backstretch.js"></script>
  <script src="{{ site.base-url }}/assets/js/application.js"></script>
	<script src="{{ site.base-url }}/assets/modernizr.custom.35965.js"></script>
	<script src="{{ site.base-url }}/assets/js/jquery.rondell.js"></script>
	<title>Andrew Jorczak • {{ page.title }}</title>
</head>
<body>
	<div class="page">