		<div class="navigation">
			<h1 class="header1"><a href="{{ site.baseurl }}/">Andrew Jorczak</a></h1>
			<h2 class="header2">Web Developer, Actor</h2>
			<br>
			<nav class="navlist">
			  <ul>
			    <li><a class="navlink" href="{{ site.base-url }}/aboutme">About Me</a></li>
			    <li><a class="navlink" href="{{ site.base-url }}/resume">Resume</a></li>
			    <li><a class="navlink" href="{{ site.base-url }}/development">Development Projects</a></li>
			    <li><a class="navlink" href="{{ site.base-url }}/performance">Performance</a></li>
			    <li><a class="navlink" href="mailto:andrew.jorczak@gmail.com" target=_blank>Contact me.</a></li>
			    <br>
			  </ul>
			  <ul class="social">
				    <li><a class="icon github" data-icon="&#62208;"href="https://github.com/CoolJorcz" target=_blank></a></li>
				    <li><a class="icon linkedin" data-icon="&#62232;"href="http://www.linkedin.com/profile/view?id=49085002&trk=nav_responsive_tab_profile" target=_blank></a></li>
				    <li><a class="icon twitter" data-icon="&#62217;" href="https://twitter.com/andrewjorczak" target=_blank></a> </li>
				    <li><a class="icon instagram" data-icon="&#62253;" href="http://instagram.com/djjazzyaj" target=_blank></a></li>
			  </ul>
			</nav>
		</div>