// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography/";
@import "compass/utilities/general/clearfix";

/*-------------------------------------------------------------------------------/
/* INCLUDES ********************************************************************************/
@include font-face("entypo", font-files("entypo.woff", "entypo.ttf", "entypo.svg"), "entypo.eot");
@include font-face("entypo-social", font-files("entypo-social.ttf", "entypo-social.woff", "entypo-social.svg"), "entypo-social.eot");

/* -------------------------------------------------------------------------*/

/* BREAKPOINTS *******************************/

$less-than-tablet: 0px 9 1276px;

/* Layout */

.container {
  @include container;
  @include susy-grid-background;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 90%;
	background-color: #dbd7d7;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navigation {
	@include span-columns(4, 12);
	font-family: "Lucida Grande";
	display: block;
	padding-top: 5em;
	width: 30%;
	min-width: 400px;
	li {
		text-align: left;
		padding-left: 2em;
		list-style: none;
	}
}

.main-content {
	@include span-columns(8 omega, 12);	
	padding: 1em 0.1em 0px;
}


.navlink {
	color: #6b0707;
	transition: 1s;
	text-decoration: none;
}
.navlink:hover{
	transition: 1s;
	color: rgb(152,4,4);
	text-decoration: none;
}
.link {
	text-decoration: none;
	color: black;
}

.link:hover {
	color: black;
	text-decoration: none;
}

.social {
	display: inline;
	padding-left: 0;

	li{
		display: inline;
	}
}
.social .icon {
	font-size: 3em;
	padding: 0.2em; 
	color: black;
	text-decoration: none;
	transition: 1s;
}

.social .icon:hover {
	color: #6b0707;
	transition: 1s;
	text-decoration: none;
}

.social .icon.twitter:before, .social .icon.github:before, .social .icon.linkedin:before, .social .icon.instagram:before {
  font-family: 'entypo-social';
  content: attr(data-icon); }


#aboutme {
  font-family: "Lucida Grande";
  font-size: 2em;
	margin: 0.67em 0;
}

.intronote{
	display:inline;
}

.about-container {
	font-size: 1.2em
}

.container-right {
	display:inline-block;
	padding-left: 4em;
	font-size: 1.3em;
 	ol {
		display: inline;
	}
}

.aboutphoto {
	width: 23em;
	height: 15em;
	display: inline;
}

.header1 {
	font-weight: bold;
	font-size: 3em;
	padding-bottom: 25px;
	
}

.header1 a {
	text-decoration: none;
	color: black;
	transition: 0.45s;
}

.header1 a:hover {
	text-decoration: none;
	transition: 0.45s;
	color: #6b0707;
}

.header2 {
	font-weight: bold;
	font-size: 2em;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.stretchtest{
  width: 55em;
  height: 40em;
  /*padding: 4px;*/
  border: 1px solid #ccc;
  display: inline-block;
}

.voiceover li {
	list-style: none;
}

.voiceover a {
	color: #6b0707;
}
.voiceover a:hover {
	text-decoration: none;
	color: rgb(18,71,47);
}

.development li {
	list-style: none;
}
.development a {
	color: black;
}
.development a:hover {
	text-decoration: none;
	color: #6b0707;
	transition: 1s;
}

.projects {
	text-align: left;
}


/* MEDIA QUERIES ***********************************/

@include at-breakpoint($less-than-tablet) {
  body {
    font-size: 75%;
  }
  .social {
  	padding-left: 2em;
  }
  .main-content {
  	@include span-columns(9);
  	padding: 0 1em;
  }

}