@font-face {
  font-family: "entypo";
  src: url('fonts/entypo.eot');
  src: url('fonts/entypo.eot?#iefix') format('eot'), url('fonts/entypo.woff') format('woff'), url('fonts/entypo.ttf') format('truetype'), url('fonts/entypo.svg') format('svg');
}

@font-face {
  font-family: "entypo-social";
  src: url('fonts/entypo-social.eot');
  src: url('fonts/entypo-social.eot?#iefix') format('eot'), url('fonts/entypo-social.ttf') format('truetype'), url('fonts/entypo-social.woff') format('woff'), url('fonts/entypo-social.svg') format('svg');
}
